<%- include('./partials/header')%>



<ul>
    <li><a href="/education">Eduaction</a></li>
    <li><a href="/skill">Skill</a></li>
    <li><a href="/project">Project</a></li>
    <li><a href="/experience">Experience</a></li>
    <li><a href="/interest">Interest</a></li>
</ul>

<h1 class="container mt-5 p-5 text-center fw-light f-1">Add Resumes</h1>


<%- include('./partials/footer')%>