<%- include('./partials/header')%>
<div class="container w-100 d-flex justify-content-center align-center">
    <form action="/send-mail" method="post" class="form-control mt-5 text-center w-50">
      <h1 class="create text-success">Request for code</h1>
      <input class="name text-info mt-2 fs-2 w-75" type="email" placeholder="email" name="email"><br><br>
      <button class="btn btn-primary fs-2 w-75">Send Mail</button><br><br>
      <a class="home fs-2" href="/">Home</a>
    </form>
  </div>





<%- include('./partials/footer') %>


  




  
