<%- include('./partials/header')%>
<div class="container w-100 d-flex justify-content-center align-center">
  <form action="/forgetpassword/<%=id%>" method="post" class="form-control mt-5 text-center w-50">
    <h1 class="create text-success">Enter new password</h1>
    <input class="name text-info mt-2 fs-2 w-75" type="password" placeholder="password" name="newpassword"><br><br>
    <button class="btn btn-primary fs-2 w-75">change password</button><br><br>
    <a class="home fs-2" href="/">Home</a>
  </form>
</div>





<%- include('./partials/footer') %>


  




  
